{% extends "::base.html.twig" %}
{% block body %}
    <div class="div-round bg-primary" style="width: 25%;">
        <div class="div-round-content">
            <h5 class="card-text-title"><b>Account info:</b></h5>
            <p class="card-text-text">
                <b>Name:</b> {{ account.name }}
            </p>
            <p class="card-text-text">
                <b>Description:</b> {{ account.description }}
            </p>
            <p class="card-text-text">
                <b>Currency:</b> {{ account.currency }}
            </p>
            <p class="card-text-text">
                <b>Balance:</b> {{ account.balance }}
            </p>

            <form action="{{ path('operations_add', {'id': account.id}) }}">
                <button class="btn btn-secondary" type="submit">Add operation</button>
            </form>
        </div>
    </div>

    <div class="div-round bg-primary" style="width: 25%;">
        <div class="div-round-content">
            <h5 class="card-text-text">{{ account.name }} operations:</h5>
            <ul>
                <li>
                    {% for operation in account.operations %}
                        <p class="card-text-text">
                            {{ operation.type }}
                            {{ operation.description }}
                            {{ operation.sum }}
                            {{ operation.category }}
                        </p>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}