{% extends 'base.html.twig' %}
{% block title %}Новий аккаунт{% endblock %}
{% block body %}
    <div class="container div-content">
        <div class="row">
            <div class="col-md-5 container-centered">
                <div class="panel-heading"><p class="text-title">Створення нового аккаунта</p></div>

                <div class="panel-heading"><p class="text-subtitle">Укажіть назву, опис (по бажанню) та грошову
                        одиницю</p></div>

                <div class="panel-body">

                    {{ form_start(form) }}

                    <div class="container-form">
                        <div class="col-md-12">
                            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="container-form">
                        <div class="col-md-12">
                            {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="container-form">
                        <div class="col-md-12">
                            {{ form_row(form.currency, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div align="center">
                        <div class="col-md-6">
                            <button class="btn btn-block btn-primary" type="submit">Створити</button>
                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}