{% extends "::base.html.twig" %}
{% block body %}

    <div id="my-div-content-parent" class="div-content">
        <div id="my-div-content-child" class="my-div-left" style="width: 27%;">
            <div class="my-div-round bg-primary">
                <div class="my-div-round-content-block-top bg-primary">
                    <p class="my-text-title-white"><b>Інформація про користувача:</b></p>
                </div>

                <div class="my-div-round-content-block-middle">
                    <p class="my-text-white">
                        <b>Ім'я:</b> {{ app.user.firstName }}
                    </p>
                    <p class="my-text-white">
                        <b>Прізвище:</b> {{ app.user.lastName }}
                    </p>
                    <p class="my-text-white">
                        <b>Email:</b> {{ app.user.email }}
                    </p>
                    <p class="my-text-white">
                        <b>Стать:</b> {{ app.user.gender }}
                    </p>
                </div>

                <div class="my-div-round-content-block-bottom">
                    <form action="{{ path('profile_me_user_update') }}">
                        <button class="btn btn-secondary" type="submit">Редагувати</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="my-div-content-child" class="my-div-round my-div-center bg-primary" style="width: 33%; height: 78px;">
            <div class="my-div-round-content-block-top" style="width: 100%; height: 100%;">
                {% if accounts is empty %}
                    <p class="my-div-round-text-title">У Вас ще не має аккаунтів</p>
                {% else %}
                    <p class="my-div-round-text-title">Ваші аккаунти:</p>
                {% endif %}
            </div>

            <div class="my-div-round-content-block-middle" style="margin: 12px 0 0 12px;">
                <div>
                    <ol>
                        {% for account in accounts %}
                            <a href="{{ path('accounts_details', {'id': account.id}) }}"
                               class="card-text-text">
                                <li>
                                    {{ account.name }}

                                    <form action="{{ path('account_remove', {'accountId': account.id}) }}">
                                        <button class="btn btn-outline-danger my-btn-action" type="submit"
                                                style="float: right; font-weight: 600;">
                                            Видалити
                                        </button>
                                    </form>
                                    <form action="{{ path('account_edit', {'accountId': account.id}) }}">
                                        <button class="btn btn-outline-warning my-btn-action" type="submit"
                                                style="float: right; font-weight: 600; margin-left: 12px; margin-right: 4px;">
                                            Редагувати
                                        </button>
                                    </form>

                                    {% if account.balance >= 0 %}
                                        <a style="color: #8BC34A; float: right; margin-right: 6px;">{{ account.balance }} {{ account.currency.symbol }}</a>
                                    {% else %}
                                        <a style="color: #F44336; float: right; margin-right: 6px;">-{{ account.balance }} {{ account.currency.symbol }}</a>
                                    {% endif %}
                                </li>
                            </a>
                        {% endfor %}
                    </ol>
                </div>
            </div>

            <div class="my-div-round-content-block-bottom" style="margin: 8px 0 0 0;">
                <form action="{{ path('accounts_add') }}">
                    <button class="btn btn-outline-primary" type="submit">Додати аккаунт</button>
                </form>
            </div>
        </div>

        <div id="my-div-content-child" class="my-div-right" style="width: 32%; height: 78px;">
            <div>
                <div class="my-div-round-content-block-top bg-primary" style="padding: 24px;">
                    {% if organizations is empty %}
                        <p class="my-div-round-text-title">У Вас ще не має груп</p>
                    {% else %}
                        <p class="my-div-round-text-title">Групи, що Ви створили:</p>
                    {% endif %}
                </div>

                <div class="my-div-round-content-block-middle" style="margin: -12px 0 0 40px;">
                    <div>
                        <ol>
                            {% for organization in organizations %}
                                <li class="my-text-black">
                                    <a href="{{ path('organization_details', {'id': organization.id}) }}"
                                       class="card-text-text">
                                        {{ organization.name }}
                                        {{ organization.type|capitalize }}
                                        {#Has public access: {{ organization.publicAccess ? 'Yes':'No' }}#}
                                    </a>
                                    <br>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>

                <div class="my-div-round-content-block-bottom" style="margin: 8px 0 0 24px;">
                    <form action="{{ path('organization_create') }}">
                        <button class="btn btn-outline-primary" type="submit">Створити групу</button>
                    </form>
                </div>
            </div>

            <div style="margin-top: 40px;">
                <div class="my-div-round-content-block-top bg-primary" style="padding: 24px;">
                    {% if organizations is empty %}
                        <p class="my-div-round-text-title">У Вас ще не має груп</p>
                    {% else %}
                        <p class="my-div-round-text-title">Ваші групи:</p>
                    {% endif %}
                </div>
            </div>

            <div class="my-div-round-content-block-middle" style="margin: -12px 0 0 40px;">
                <div>
                    <ol>
                        {% for organization in organizations %}
                            <li class="my-text-black">
                                <a href="{{ path('organization_details', {'id': organization.id}) }}"
                                   class="card-text-text">
                                    {{ organization.name }}
                                    {{ organization.type|capitalize }}
                                </a>
                                <br>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {#{{ parent() }}#}
{% endblock %}