{% extends "::base.html.twig" %}
{% block body %}

    <div class="div-round bg-primary" style="width: 25%;">
        <div class="div-round-content">
            <h5 class="card-text-title"><b>Group info:</b></h5>
            <p class="card-text-text">
                <b>Name:</b> {{ organization.name }}
            </p>
            <p class="card-text-text">
                <b>Type:</b> {{ organization.type }}
            </p>
            <p class="card-text-text">
                <b>Description:</b> {{ organization.description }}
            </p>
            <p class="card-text-text">
                <b>Access:</b> {{ organization.publicAccess ? 'public':'private' }}
            </p>

            <button class="btn btn-secondary" onclick="">Make public</button>
        </div>
    </div>

    <div class="div-round bg-primary" style="width: 25%;">
        <div class="div-round-content">
            <h5 class="card-text-title">{{ organization.name }} accounts:</h5>
            {% if accounts is empty %}
                <p class="card-text-text" align="center">There are no accounts yet. Do you want to create one?</p>
            {% else %}
                <ul>
                    <li>
                        {% for account in accounts %}
                            <p class="card-text-text">
                                {{ account.name }}
                                {{ account.balance }}
                                {{ account.currency }}
                            </p>
                        {% endfor %}
                    </li>
                </ul>
            {% endif %}

            <form action="{{ path('organization_create_account', {'id': organization.id}) }}">
                <button class="btn btn-secondary" type="submit">Add account</button>
            </form>
        </div>
    </div>

    <div class="div-round bg-primary" style="width: 25%;">
        <div class="div-round-content">
            <h5 class="card-text-text">Last {{ organization.name }} operations:</h5>
            <ul>

            </ul>

            <button class="btn btn-secondary" onclick="">Add operation</button>
        </div>
    </div>

    <div class="div-round bg-primary" style="width: 25%;">
        <div class="div-round-content">
            <h5 class="card-text-title">{{ organization.name }} members:</h5>
            <ul>
                {% for member in organization.members %}
                    <li>
                        <p class="card-text-text">
                            {{ member.firstName }}
                            {{ member.lastName }}
                        </p>
                    </li>
                {% endfor %}
            </ul>

            <button id="add_member_btn" class="btn btn-secondary">Add member</button>
        </div>
    </div>
    <div id="view"></div>

    <div id="add_member_div" class="div-round bg-primary" style="display: none; width: 50%;">
        <div class="div-round-content">
            <h5 class="card-text-text">Search for new members:</h5>

            <div class="form-group row">
                <label for="example-search-input" class="col-form-label">Search users by email:</label>
                <div class="col-10">
                    <input class="form-control" type="search" value="" id="example-search-input">
                    <button id="search_users_btn" class="btn btn-secondary">Search</button>
                </div>
            </div>

            <div id="users_div"></div>
        </div>
    </div>

        {#<script>#}
            {#function myFunction() {#}
                {#var x = document.getElementById('add_new_members');#}
                {#if (x.style.display === 'none') {#}
                    {#x.style.display = 'block';#}
                {#} else {#}
                    {#x.style.display = 'none';#}
                {#}#}
            {#}#}
        {#</script>#}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#add_member_btn').click(function () {
            $('#add_member_div').show();
        });

        $('#asd123').click(function () {
            $.ajax({
                type: "GET",
                url: "/organizations/qwerty123",
                success: function (msg) {
                    console.log(msg);
                    $('#view').html(msg.user.email + '<br/>' + msg.user.firstName);
                },
                error: function (msg) {
                    console.log("failed");
                }
            })
        });

        $('#search_users_btn').click(function () {
            $.ajax({
                type: "GET",
                url: "/users/search",
                data: {
                    email: "john"
                },
                success: function (msg) {
                    console.log(msg);
                    $('#users_div').html(msg);

                    $.each(msg.users, function(index, value) {
//                       console.log(value.email);
//                        $('#users_div').append(value.email + '<br/>');
                        $('#users_div').append(
                            '<a class="search-text-unselected" href="' + '{{ path('profile_me') }}' + '">'
                            + value.email
                            + ' '
                            + value.firstName
                            + ' '
                            + value.lastName
                            + ' '
                            + '</a>'
                            + '</br>'
                        );
                    });

//                    for () {
//
//                    }
//                    $('#view').html(msg.user.email + '<br/>' + msg.user.firstName);
                },
                error: function (msg) {
                    console.log("failed");
                }
            })
        });
    </script>

{% endblock %}