{% extends "::base.html.twig" %}
{% block body %}

    <div class="div-round bg-primary" style="width: 25%;">
        <div class="div-round-content">
            <h5 class="card-text-title"><b>Group info:</b></h5>
            <p class="card-text-text">
                <b>Name:</b> {{ organization.name }}
            </p>
            <p class="card-text-text">
                <b>Type:</b> {{ organization.type }}
            </p>
            <p class="card-text-text">
                <b>Description:</b> {{ organization.description }}
            </p>
        </div>
    </div>

    <div class="div-round bg-primary" style="width: 25%;">
        <div class="div-round-content">
            <h5 class="card-text-text">{{ organization.name }} accounts:</h5>
            <ul>
                <li>
                    {#{% for account in organization.accounts %}#}
                    {#<p class="card-text-text">#}
                    {#{{ account.type }}#}
                    {#{{ account.description }}#}
                    {#{{ account.sum }}#}
                    {#{{ account.category }}#}
                    {#</p>#}
                    {#{% endfor %}#}
                </li>
            </ul>
        </div>
    </div>

    <div class="div-round bg-primary" style="width: 25%;">
        <div class="div-round-content">
            <h5 class="card-text-text">{{ organization.name }} members:</h5>
            <ul>
                {% for member in organization.members %}
                    <li>
                        <p class="card-text-text">
                            {{ member.firstName }}
                            {{ member.lastName }}
                        </p>
                    </li>
                {% endfor %}
            </ul>

            <button class="btn btn-secondary" onclick="myFunction()">Add members</button>
        </div>
    </div>

    <div class="div-round bg-primary" style="width: 25%;">
        <div class="div-round-content">
            <h5 class="card-text-text">Last {{ organization.name }} operations:</h5>
            <ul>

            </ul>

            <button class="btn btn-secondary" onclick="">Add operation</button>
        </div>
    </div>

    <div id="add_new_members" class="div-round bg-primary" style="display: none; width: 50%;">
        <div class="div-round-content">
            <h5 class="card-text-text">Search for new members:</h5>

            <div class="form-group row">
                <label for="example-search-input" class="col-form-label">Search users</label>
                <div class="col-10">
                    <input class="form-control" type="search" value="" id="example-search-input">
                </div>
            </div>
        </div>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById('add_new_members');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
    </script>

{% endblock %}