{% extends "::base.html.twig" %}

{% block body %}

    <div class="container div-login-content">
        <div class="row">
            <div class="col-md-5 container-centered">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">

                    <div class="container-form">
                        <label for="username">Username:</label>
                        <input class="form-control" type="text" id="username" name="_username"
                               value="{{ last_username }}"/>
                    </div>

                    <div class="container-form">
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="_password"/>
                    </div>

                    <input type="hidden" name="_target_path" value="/"/>

                    <div class="text-center">
                        <button class="btn btn-block btn-primary" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="{{ path('registration') }}">Have no account? Create one</a>
{% endblock %}

{#{% extends "::base.html.twig" %}#}

{#{% block body %}#}

    {#<div class="container div-login-content">#}
        {#<div class="row">#}
            {#<div class="col-md-5 container-centered">#}
                {#{% if error %}#}
                    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                {#{% endif %}#}

                {#{{ form(loginForm) }}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<a href="{{ path('registration') }}">Have no account? Create one</a>#}
{#{% endblock %}#}