{% extends 'base.html.twig' %}
{% block title %}MoneyManager - реєстрація{% endblock %}
{% block body %}

    <div style="width: 100%; margin-bottom: 24px;">
        {#<div style="display: table; margin: 0 auto; text-align: center;">#}
        <div style="width: 35%; margin: 0 auto; text-align: center;">
            <p class="text-title">Реєстрація</p>
            <p class="text-subtitle">Заповніть поля нижче та натисність<br>"Зареєструватися"</p>

            {{ form_start(form) }}

            {{ form_errors(form.email) }}

            <div class="container-form">
                {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="container-form">
                {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="container-form">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="container-form">
                {{ form_row(form.plainPassword.password, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="container-form">
                {{ form_row(form.plainPassword.confirmPassword, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="container-form">
                {{ form_row(form.gender) }}
            </div>

            {#<div class="container-form">#}
            {#<div class="form-check">#}
            {#<label class="form-check-label">#}
            {#<input class="form-check-input" type="checkbox"> I accept terms & conditions#}
            {#</label>#}
            {#</div>#}
            {#</div>#}

            <div class="container-form text-center">
                <button class="btn btn-block btn-primary" type="submit">Зареєструватися</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    {#<div class="div-center-horizontal" style="margin-top: 64px;">#}
    {#{{ form_start(form) }}#}

    {#<div class="container-form">#}
    {#{{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}#}
    {#</div>#}

    {#<div class="container-form">#}
    {#{{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}#}
    {#</div>#}

    {#<div class="container-form">#}
    {#{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}#}
    {#</div>#}

    {#<div class="container-form">#}
    {#{{ form_row(form.plainPassword.password, {'attr': {'class': 'form-control'}}) }}#}
    {#</div>#}

    {#<div class="container-form">#}
    {#{{ form_row(form.plainPassword.confirmPassword, {'attr': {'class': 'form-control'}}) }}#}
    {#</div>#}

    {#<div class="container-form">#}
    {#{{ form_row(form.gender, {'attr': {'class': 'form-control'}}) }}#}
    {#</div>#}

    {#<div class="container-form">#}
    {#<div class="form-check">#}
    {#<label class="form-check-label">#}
    {#<input class="form-check-input" type="checkbox"> I accept terms & conditions#}
    {#</label>#}
    {#</div>#}
    {#</div>#}

    {#<fieldset class="form-group">#}
    {#<div class="form-check">#}
    {#<label class="form-check-label">#}
    {#<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>#}
    {#Option one is this and that&mdash;be sure to include why it's great#}
    {#</label>#}
    {#</div>#}
    {#<div class="form-check">#}
    {#<label class="form-check-label">#}
    {#<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">#}
    {#Option two can be something else and selecting it will deselect option one#}
    {#</label>#}
    {#</div>#}
    {#<div class="form-check disabled">#}
    {#<label class="form-check-label">#}
    {#<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>#}
    {#Option three is disabled#}
    {#</label>#}
    {#</div>#}
    {#</fieldset>#}

    {#<div class="text-center">#}
    {#<button class="btn btn-block btn-primary" type="submit">Register</button>#}
    {#</div>#}

    {#{{ form_end(form) }}#}
    {#</div>#}
{% endblock %}